{% extends './base.html' %}
{% block content %}
<div class="flex flex-col lg:block">
    <div class="flex order-1 flex-col lg:flex-row h-auto min-w-screen text-slate-500 p-8">
        <div class="lg:w-3/5 order-2 lg:order-1 w-full shadow-sm mt-8 lg:mr-8 lg:p-8 lg:ml-8">
            <div class="flex justify-between mb-4">
                <h1 class="text-2xl text-primary font-bold">{{ blog.category }}</h1>
                <p class="text-sm font-semibold">{{ blog.created_at|date }}</p>
            </div>
            <h2 class="text-3xl font-bold mb-4">{{ blog.title }}</h2>
            <p class="text-base select-none leading-relaxed">{{ blog.content }}</p>
        </div>
        <div class="lg:w-2/5 order-1 lg:order-2 w-full">
            <div class="h-[24rem] lg:h-[30rem]">
                {% if blog.attachent %}
                    {% with blog.attachent.url as attachment_url %}
                        {% if attachment_url|slice:'-4:' == '.jpg' or attachment_url|slice:'-5:' == '.jpeg' or attachment_url|slice:'-4:' == '.png' or attachment_url|slice:'4:' == '.gif' %}
                            <img src="{{ attachment_url }}" alt="{{ blog.title }}" class="rounded-lg shadow-md object-cover w-full h-full">
                        {% elif attachment_url|slice:'-4:' == '.mp4' or attachment_url|slice:'-4:' == '.avi' or attachment_url|slice:'-4:' == '.mov' %}
                            <video id="myVideo" controls class="rounded-lg shadow-md w-full h-full object-cover">
                                <source src="media/{{ attachment_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% elif attachment_url|slice:'-4:' == '.pdf' %}
                            <div class="pdf-container rounded-lg shadow-md bg-white p-4 h-full flex items-center justify-center">
                                <a href="media/{{ attachment_url }}" target="_blank" class="text-blue-500">View PDF</a>
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="order-2 lg:order-1 lg:w-2/4 hidden lg:block mx-20">
        <h3 class="text-lg dark:text-white mb-4">Comments:</h3>
        {% for comment in blog.comments.all %}
            <div class="bg-white shadow-lg rounded-lg mb-4 p-4">
                <div class="flex items-center justify-between mb-2">
                    <span class="text-sm font-semibold">{{ comment.commenter_name }}</span>
                    <span class="text-sm">{{ comment.created_at|date:"DATETIME_FORMAT" }}</span>
                </div>
                <p class="text-sm">{{ comment.content }}</p>
                <button class="text-sm text-gray-500">Like</button>
            </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div class="w-full mb-4  rounded-lg p-4 bg-white dark:bg-gray-800">
                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm dark:text-white font-medium text-gray-900">Full Name</label>
                    <input type="text" name="commenter_name" placeholder="Your full names" id="input" class="dark:bg-gray-100  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                </div>
                <div class="px-4 shadow-md py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <label for="comment" class="sr-only">Your comment</label>
                    <textarea id="comment" name="content" rows="4" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required ></textarea>
                </div>
                <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                    <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                        Post comment
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
