{% extends './base.html'%}

{% block title%}tvet{%endblock title%}

{% block content%}
<div class="md:mx-20 md:my-10 my-5 flex md:flex-row flex-col md:space-x-5 md:space-y-5  text-secondary">
    <h2 class="text-center dark:text-white text-xl md:hidden">TVET PROGRAMS</h2>
    <div class="  dark:bg-gray-800 dark:text-white md:w-9/12 w-full">
        <div class="flex justify-between items-center uppercase p-2">
            <h1 class="text-2xl  font-bold ">Tvet programs available from level 3 to level 5</h1>
            <p class="mr-4"><i class="fa-regular fa-clock"></i> 3 years</p>
        </div>
        <div class="p-2">
            <div class="my-2">
                <h1 class="md:text-3xl text-xl font-bold uppercase my-3">software development (sod)</h1>
                <div class="">
                    <h3 class="mb-3 font-semibold text-lg">Trade Information</h3>
                    <hr>
                    <table class="md:w-1/2 w-full text-center  ">
                        <tr class="">
                            <th>Trade Name</th>
                            <td>Software Development</td>
                        </tr>
                        <tr>
                            <th>Available Levels</th>
                            <td>L3 SOD, L4 SOD and L5 SOD</td>
                        </tr>
                        <tr>
                            <th>Total Students</th>
                            <td>154+</td>
                        </tr>
                        <tr>
                            <th>Level Duration</th>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <th>Trade Duration</th>
                            <td>3 Years</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="my-2 ">
                <h1 class="md:text-3xl text-xl font-bold uppercase my-3">Network and Internet Technologies (NIT)</h1>
                <div class="">
                    <h3 class="mb-3 font-semibold text-lg">Trade Information</h3>
                    <hr>
                    <table class="md:w-1/2 w-full text-center ">
                        <tr class="">
                            <th>Trade Name</th>
                            <td>Network and internet Technologies</td>
                        </tr>
                        <tr>
                            <th>Available Levels</th>
                            <td>L3 NIT, L4 NIT and L5 NIT</td>
                        </tr>
                        <tr>
                            <th>Total Students</th>
                            <td>154+</td>
                        </tr>
                        <tr>
                            <th>Level Duration</th>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <th>Trade Duration</th>
                            <td>3 Years</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="my-2">
                <h1 class="md:text-3xl text-xl font-bold uppercase my-3">Multimedia Production (MMP)</h1>
                <div class="">
                    <h3 class="mb-3 font-semibold text-lg">Trade Information</h3>
                    <hr>
                    <table class="md:w-1/2 w-full text-center ">
                        <tr class="">
                            <th>Trade Name</th>
                            <td>Multimedia production</td>
                        </tr>
                        <tr>
                            <th>Available Levels</th>
                            <td>L3 MMP, L4 MMP and L5 MM</td>
                        </tr>
                        <tr>
                            <th>Total Students</th>
                            <td>154+</td>
                        </tr>
                        <tr>
                            <th>Level Duration</th>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <th>Trade Duration</th>
                            <td>3 Years</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="my-2">
                <h1 class="md:text-3xl text-xl font-bold uppercase my-3">Accounting (ACC)</h1>
                <div class="">
                    <h3 class="mb-3 font-semibold text-lg">Trade Information</h3>
                    <hr>
                    <table class="md:w-1/2 w-full text-center ">
                        <tr class="">
                            <th>Trade Name</th>
                            <td>Accounting</td>
                        </tr>
                        <tr>
                            <th>Available Levels</th>
                            <td> L5 Acc</td>
                        </tr>
                        <tr>
                            <th>Total Students</th>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th>Level Duration</th>
                            <td>1 Year</td>
                        </tr>
                        <tr>
                            <th>Trade Duration</th>
                            <td>3 Years</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="my-7">
                <h1 class="capitalize text-xl font-semibold">Daily program from monday-thursday</h1>
                <table class="w-full h-52">
                    <thead class="font-semibold">
                        <tr class="h-10 border-b-2 border-secondary">
                            <td>Time/hour</td>
                            <td>Activity Time</td>
                            <td>Spent time</td>
                            <td>Activity</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:00AM</td>
                            <td>8:25AM</td>
                            <td>25 Minutes</td>
                            <td>Morning Chapel</td>
                        </tr>
                        <tr>
                            <td>8:30AM</td>
                            <td>11:50AM</td>
                            <td>200 Minutes</td>
                            <td>Study Time</td>
                        </tr>
                        <tr>
                            <td>11:50AM</td>
                            <td>12:05PM</td>
                            <td>15 Minutes</td>
                            <td>Break Time</td>
                        </tr>
                        <tr>
                            <td>12:05PM</td>
                            <td>2:40PM</td>
                            <td>155 Minutes</td>
                            <td>Study Time</td>
                        </tr>
                        <tr>
                            <td>2:40PM</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Going Home</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

    </div>
    <div class=" md:w-3/12 my-5 md:my-0">
        <div class="flex flex-col space-y-4 md:space-y-4">
            <div class="bg-white dark:bg-gray-800 dark:text-white h-auto px-8 rounded py-4" >
                <h1 class="text-xl uppercase font-semibold ">Sod modules</h1>
                <ol class="captialize mt-2 text-sm space-y-1">
                    <li>programming</li>
                    <li>Web development</li>
                    <li>Backend development</li>
                    <li>Javascript</li>
                    <li>Database Development</li>
                    <li>System analysis</li>
                </ol>
            </div>
            <div class="bg-white dark:bg-gray-800 dark:text-white h-auto px-8 rounded py-4">
                <h1 class="text-xl uppercase font-semibold">Nit Modules</h1>
                <ol class="captialize mt-2 text-sm space-y-1 ">
                    <li>Routing and switching</li>
                    <li>Windows server</li>
                    <li>Telecommunication</li>
                    <li>IOT</li>
                    <li>Setup Lan</li>
                </ol>
            </div>
            <div class="bg-white dark:bg-gray-800 dark:text-white h-auto px-8 rounded py-4">
                <h1 class="text-xl uppercase font-semibold">mmp modules</h1>
                <ol class="captialize mt-2 text-sm space-y-1">
                    <li>Editing Sound, Video, Audio</li>
                    <li>Graphic design</li>
                    <li>capture Photography</li>
                    <li>etc...</li>

                </ol>
            </div>
            <div class="bg-white dark:bg-gray-800 dark:text-white h-auto px-8 rounded py-4">
                <h1 class="text-xl uppercase font-semibold">acc modules</h1>
                <ol class="captialize mt-2 text-sm space-y-1">
                    <li>Principal Costing</li>
                    <li> Financial Accounting</li>
                    <li>Computerized Accounting</li>
                </ol>
            </div>
            <div class="bg-white dark:bg-gray-800 dark:text-white h-auto px-8 rounded py-4">
                <h1 class="text-xl uppercase font-semibold">extra curricullar activities</h1>
                <ol class="captialize mt-2 text-sm space-y-1">
                    <li>Seven areas of influence(gilgal)</li>
                    <li>Music class</li>
                    <li>Python class</li>
                    <li>Taekwondo</li>
                    <li>I Lead</li>
                    <li>Korean camp</li>
                </ol>
            </div>



        </div>
    </div>
    {%endblock%}